.reveal {
  font-size: 36px;
}

.reveal pre code {
  max-height: 80%;
}

* {
  font-family: Helvetica, sans-serif !important;
}

.table-of-contents h1 {
  font-size: 16px;
}
.table-of-contents {
  max-height: 95%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-size: 14px;
}
