body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin: 30px;
}

.cell {
  border: 1px solid lightblue;
  color: lightgray;
  width: 20px;
  height: 20px;
  text-align: center;
}

.cell--alive {
  background-color: darkcyan;
}
